h2{
    font-size: 1.2em;
}
p{
    font-size: 0.9em;
}


.profile-header{
    white-space: pre-line;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    margin-bottom: 5%;
    .back-icon{
        z-index: 999;
    }
}
.profile-banner-wrap{
    display: flex;
    .profile-banner{
        width: 100vw;
        height: fit-content;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .back-icon{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
}
.vertical-segment{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.profile-contents-wrap {
    display: grid;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:#dde0ea;
    height: 100%;
    *{ margin: 0 3%; }
    .profile-contents {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        // position: relative;
        // height: calc(100% - 22vw);
        margin: 0;
        margin-top: 13vw;
        padding: 4% 0;
    }
    p{
        padding: 2.5% 0;
        line-height: 1.5em;
    }
}

.profile-img-wrap{
    margin: auto 0;
    width: inherit;
    height: auto;
    /* height: inherit; */
    top: 20px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    display: flex;
    justify-content: center;
    .profile-img{
        // position: absolute;
        width: 25vw;
        height: 25vw;
        // top: 50%;
        // left: 50%;
        margin: auto 0;
        background-color: #a9aebb;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
}

.profile-nav{
    position: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-button{
        width: 50%;
        display: flex;
        word-break: keep-all;
    }
}

//     position: absolute;
// .wrapper{
//     width: 100%;
//     margin: 0;
//     bottom: 0;
// }